    <!-- navbar ここから -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
            <a class="navbar-brand" href="./index.html">Kids RESAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./index.html">トップページ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./select_room.html">教室をえらぶ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">グラフをつくる</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            教師用メニュー
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="./edit_graph.html">グラフ作成</a>
                            <a class="dropdown-item" href="./edit_quiz.html">クイズ作成</a>
                            <a class="dropdown-item" href="./edit_scenario.html">シナリオ作成</a>
                            <a class="dropdown-item" href="./edit_room.html">教室作成</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="./list_room.html">教室確認</a>
                            <a class="dropdown-item" href="./list_student.html">生徒確認</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login.html">ログイン</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar ここまで -->