    <div class="container">
        <h2 class="border-bottom pb-2 mb-4">教室をえらぶ</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">(sample)教室001</h5>
                    <div class="card-body">
                        <h5 class="card-title">〇〇先生</h5>
                        <h5 class="card-title">タイトル</h5>
                        <p class="card-text">説明</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#enterRoomModal"
                            data-whatever="001">この教室に入る</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">(sample)教室002</h5>
                    <div class="card-body">
                        <h5 class="card-title">△△先生</h5>
                        <h5 class="card-title">タイトルはここに表示されます</h5>
                        <p class="card-text">説明文はここに表示されます</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#enterRoomModal"
                            data-whatever="002">この教室に入る</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="enterRoomModal" tabindex="-1" role="dialog" aria-labelledby="enterRoomModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="enterRoomModalLabel">教室にはいる</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="room-number" class="control-label">教室番号</label>
                            <input type="text" class="form-control" id="room-number" placeholder="教室番号が表示される予定？"
                                readonly>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="tokuemi-check">
                            <label class="form-check-label" for="tokuemi-check">匿名入室（名前を入力しないで入る）</label>
                        </div>
                        <div class="form-group">
                            <label for="student-name" class="control-label">あなたのなまえ</label>
                            <input type="text" class="form-control" id="student-name" autofocus>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- javascriptでどうにかこうにかする気がする -->