    <div class="container">
        <h2 class="border-bottom pb-2 mb-4">教室作成</h2>
    </div>

    <form>
        <div class="form-group container">
            <label for="classTitleTextarea">授業タイトル</label>
            <textarea class="form-control col-md-8 mb-4 rows=1" id="classTitleTextarea" rows="3"></textarea>
            <label for="classContentsTextarea">授業内容</label>
            <textarea class="form-control col-md-8 mb-4 rows=3" id="classContentsTextarea" rows="3"></textarea>
            <label for="scenarioFormControlSelect1">シナリオの選択</label>
            <select class="form-control col-md-3 mb-4" id="scenarioFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button type="submit" class="btn btn-primary mt-3 mb-2">教室作成</button>
        </div>
    </form>